<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% if page.robots %}
    <meta name="robots" content="{{page.robots}}" />
  {% endif %}

  <link
    rel="apple-touch-icon"
    href="{{ site.url }}{{ site.baseurl }}/assets/images/fav.png"
  />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ site.url }}{{ site.baseurl }}/assets/images/fav.png"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.url }}{{ site.baseurl }}/assets/css/bootstrap.min.css"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.url }}{{ site.baseurl }}/assets/css/all.min.css"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.url }}{{ site.baseurl }}/assets/css/rounded.css"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.url }}{{ site.baseurl }}/assets/css/back-menus.css"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.url }}{{ site.baseurl }}/assets/css/animate.css"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.url }}{{ site.baseurl }}/assets/css/owl.carousel.css"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.url }}{{ site.baseurl }}/assets/css/magnific-popup.css"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.url }}{{ site.baseurl }}/assets/css/style.css"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.url }}{{ site.baseurl }}/assets/css/back-spacing.css"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.url }}{{ site.baseurl }}/assets/css/responsive.css"
  />

  <title>
    {% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}
  </title>

  <meta
    name="description"
    content="{% if page.description %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ site.description | strip_html | truncate: 160  }}{% endif %}"
  />

  <link rel="canonical" href="{{ site.url}}{{site.baseurl}}{{page.url}}" />

  <!-- facebook -->
  <meta property="og:locale" content="en_US" />
  <meta
    property="og:title"
    content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
  />
  <meta
    property="og:url"
    content="{{ site.url }}{{ site.baseurl }}{{ page.url }}"
  />

  <meta
    property="og:description"
    content="{% if page.description %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ site.description | strip_html | truncate: 160  }}{% endif %}"
  />

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta
    property="og:image"
    content="{% if page.img %}{{ site.url }}{{ site.baseurl }}/{{ page.img }}{% else %}{{site.url}}{{site.baseurl}}/assets/images/mega-dash-cover.jpg{% endif %}"
  />
  <!-- facebook -->

  <!-- twitter -->
  <meta name="twitter:card" content="summary" />
  <meta
    name="twitter:title"
    content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
  />

  <meta
    name="twitter:description"
    content="{% if page.description %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ site.description | strip_html | truncate: 160  }}{% endif %}"
  />

  <meta name="twitter:creator" content="@SaradGajurel" />
  <meta
    name="twitter:image"
    content="{% if page.img %}{{ site.url }}{{ site.baseurl }}/{{ page.img }}{% else %}{{site.url}}{{site.baseurl}}/assets/images/mega-dash-cover.jpg{% endif %}"
  />
  <!-- twitter -->

  {% if jekyll.environment == "production" %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JG1ME5G3W0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JG1ME5G3W0');
  </script>
  {% endif %}

</head>
