<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.magnific-popup.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/wow.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/back-menus.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/plugins.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/shiki.js"></script>
<script>
  let codeblocks = document.getElementsByTagName("pre");
  if (codeblocks.length > 0) {
    for (let index = 0; index < codeblocks.length; index++) {
      const element = codeblocks[index];
      shiki
        .getHighlighter({
          theme: "dracula",
        })
        .then((highlighter) => {
          if (!element.firstChild.className.includes("dartpad")) {
            const lang = element.firstChild.className.split("-")[1];
            const code = element.firstChild.innerText;
            const highlighted = highlighter.codeToHtml(code, { lang: lang });
            element.outerHTML = highlighted;
          }
        });
    }
  }
</script>
{% if page.dartpad %}
<script src="https://dartpad.dev/inject_embed.dart.js" defer></script>
{% endif %}
