<div class="col-md-4">
  <ul class="social-links text-right">
    <li class="shares">Share:</li>
    <li>
      <a
        href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
        ><i class="fa-brands fa-facebook-f"></i
      ></a>
    </li>
    <li>
      <a
        href="https://twitter.com/intent/tweet?text={{ page.title | replace: ' ', '&nbsp;' }}&amp;url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
        ><i class="fa-brands fa-twitter"></i
      ></a>
    </li>
  </ul>
</div>
