<div class="back-title back-small-title pt-30">
  <h2>Latest Posts</h2>
</div>
<ul class="back-hero-bottom">
  {% for post in site.posts | limit: 3 %} {% if post.url != page.url %}
  <li class="item">
    <div class="back-inner">
      {% if post.img %}
      <div class="back-blog-image">
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
          <img
            src="{{ site.url }}{{ site.baseurl }}/{{ post.img }}"
            alt="{{ post.title }}"
        /></a>
      </div>
      {% endif %}
      <div class="back-btm-content latest-post">
        <h3>
          <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}</a
          >
        </h3>
        <ul></ul>
      </div>
    </div>
  </li>
  {% endif %} {% endfor %}
</ul>
